.startContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(24,65,143);
  background: linear-gradient(40deg, rgba(24,65,143,1) 0%, rgba(63,53,128,1) 34%, rgba(212,153,185,1) 100%);
  
}

.button {
  position: absolute;
  top:50%;
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  font-family:'Roboto', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 4em;
  background-color : transparent;
  padding: 1rem;
  outline: none;
}

button:hover {
  color: #001F3F;
  background-color: #fff;
}